<% if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="form-group">
    <%= f.label :name, "書名" %>
    <%= f.text_field :name, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :description, "描述" %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_acq, "購入時間" %>
    <%= f.date_select :date_acq, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date_public, "出版時間" %>
    <%= f.datetime_select :date_public, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "出版商email" %>
    <%= f.email_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone, "出版商電話" %>
    <%= f.telephone_field :phone, :class => "form-control" %>
  </div>


</div>