<h1>Book list</h1>

<%= form_for @book, :class => "form"  do |f| %>
  <%= render :partial => "form" , :locals => {:f => f} %>
  <%= f.submit "Save", :class => "btn btn-primary" %>
  <%= link_to "Cancel", :back, :class=>"btn btn-default" %>
<% end %>

<table class="table">
  <tr>
    <td>
      <h3>書名</h3>
    </td>
    <td>
      <h3>顯示</h3>
    </td>
    <td>
      <h3>編輯</h3>
    </td>
    <td>
      <h3>刪除</h3>
    </td>
  </tr>
  <% @books.each do |b| %>
  <tr>
    <td>
      <%= b.name %>
    </td>
    <td>
      <%= link_to "Show" , book_path(b), :class => "btn btn-info" %>
    </td>
    <td>
      <%= link_to "Edit" , books_path(:id => b), :class => "btn btn-warning" %>
    </td>
    <td>
      <%= link_to "Delete" , book_path(b,:page=>params[:page]) , :method => :delete, :class => "btn btn-danger" , :data => { :confirm => "Are you sure?"} %>
    </td>
  </tr>
  <% end %>
</table>



<%= paginate @books %>
